<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/img/logofundo.jpg" type="image/x-icon">
  <title>Document</title>
</head>
<body>
  <!-- <h2>Acompanhe seu reporte!</h2> -->
  <div id="consulta-container">
    <h2>Consultar Protocolo</h2>
    <div style="display: flex; gap: 10px;">
      <input type="text" id="protocolo" placeholder="Digite o protocolo">
      <button onclick="consultarProtocolo()">Consultar</button>
    </div>
    <div id="resultado" style="margin-top: 20px;"></div>
  </div>
  <script src="/js/index.js"></script>
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Lista de Reportes</title>
  <style>
    table { border-collapse: collapse; width: 60%; }
    th, td { border: 1px solid #333; padding: 8px; text-align: left; }
  </style>
</head>
<body>
  <h1>Reportes</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% if (reportes.length > 0) { %>
        <% reportes.forEach(reporte => { %>
          <tr>
            <td><%= reporte.protocolo %></td>
            <td><%= reporte.nome %></td>
            <td><%= reporte.email %></td>
            <td><%= reporte.senha %></td>
            <td><%= reporte.cnpj %></td>
            <td><%= reporte.data %></td>
            <td><%= reporte.modulo %></td>
            <td><%= reporte.descricao %></td>
          </tr>
        <% }) %>
      <% } else { %>
        <tr><td colspan="5">Nenhum cliente encontrado.</td></tr>
      <% } %>
    </tbody>
  </table>
</body>
</html> -->